<header>
  <section class="header_element" id="title">
    <div id="logo">
      <img
        src="https://dejpknyizje2n.cloudfront.net/marketplace/products/tennis-icon-on-red-sticker-1574287811.5843108.png"
        width="40" height="40" />
    </div>
    <div id="app_info">
      <span id="app_title">Tennis Center</span>
      
    </div>
  </section>
  <section class="header_element" id="navigation">
    <div>
      <ul>
        <li>
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            <mat-icon fontSet="material-icons-outlined">home_outline</mat-icon>
            Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/players']" routerLinkActive="router-link-active">
            <mat-icon fontSet="material-icons-outlined">directions_run</mat-icon>
            Players
          </a>
        </li>
        <li>
          <a [routerLink]="['/players']" routerLinkActive="router-link-active">
            <mat-icon fontSet="material-icons-outlined">contacts</mat-icon>
            Member
          </a>
        </li>
        <li>
          <a [routerLink]="['/players']" routerLinkActive="router-link-active">
            <mat-icon fontSet="material-icons-outlined">sports_tennis</mat-icon>
            Courts
          </a>
        </li>
        <li>
          <a [routerLink]="['/players']" routerLinkActive="router-link-active">
            <mat-icon fontSet="material-icons-outlined">monetization_on</mat-icon>
            Finances
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section id="user_info">
    <div class="container">
      <div id="user_settings"><a [routerLink]="['/players']" routerLinkActive="router-link-active"><mat-icon fontSet="material-icons-outlined">settings</mat-icon> Settings</a></div>
      <div id="user_logged"><mat-icon fontSet="material-icons-outlined">face</mat-icon> Welcome Jonas</div>
    </div>
  </section>
</header>
