header {
    background: #ffffff;
    width: 240px;
    height: 100vh;
    position: relative;
    float: left;
    padding: 0px 18px;
    -webkit-box-shadow: 7px 0px 17px -8px rgba(208,208,208,0.75);  
    -moz-box-shadow: 7px 0px 17px -8px rgba(208,208,208,0.75);
    box-shadow: 7px 0px 17px -8px rgba(208,208,208,0.75);
  
    .header_element {
      margin-bottom: 20px;
      float: left;
      width: 100%;
      padding: 50px 0;
    }

    a {
      color: #d2d2d2;
      text-decoration: none;
    }

    #title {
      
      #logo {
        width: 20%;
        float: left;
      }

      #app_info {
        width: 80%;
        float: left;
        line-height: 38px;
      }

      #app_title {
        color: #000000;
        font-weight: 700;
        padding: 0px 0 3px 10px;
        display: block;
      }

      #user_logged {
        font-size: 12px;
      }
    }

    #navigation {
      ul {
        list-style-type: none;
        float: left;
        margin: 0;
        padding: 0;
    
        li {
          display: block;
        }
    
        a {
          padding: 16px 30px 16px 10px;
          display: block;
          font-weight: 700;

          .mat-icon {
            margin-right: 20px;
            vertical-align:middle;
          }
    
          &.router-link-active {
            color: #000000;
          }
    
          &:hover {
            color: #d2d2d2;
          }
    
        }
    
    
      }
    }

    #user_info {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 20px 0px;
      font-weight: 700;

      .container {
        position: relative;
        float: left;
        width: 100%;
        padding: 0 20px;

        #user_settings {
          font-size: 16px;
          margin-bottom: 32px;

          .mat-icon {
            font-size: 20px;
            margin-right: 10px;
            vertical-align:middle;
          }
        }

        #user_logged {
          font-size: 16px;
          margin-bottom: 10px;

          .mat-icon {
            color: grey;
            font-size: 20px;
            margin-right: 10px;
            vertical-align:middle;
          }
        }
      }
    }
  
    
  
  }