<mat-card class="urgent_card">
  <mat-card-header>
    <mat-card-title><h5>Notifications</h5></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item role="listitem" class="list_content">
        <h6 matLine>Field 2</h6>
        <p matLine>In 10min this field will be free</p>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem" class="list_content">
        <h6 matLine>Court Pass</h6>
        <p matLine>Jordan court pass will expire</p>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem" class="list_content">
        <h6 matLine>Field 1</h6>
        <p matLine>In 10min this field will be free</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="actions_content">
    <a href="#">View notifications</a>
  </mat-card-actions>
</mat-card>