#homepage {
  position: relative;
  float: left;
  width: calc(100% - 280px);
  padding: 20px 54px;
  box-sizing: border-box;

  #homepage_intro {
    margin-bottom: 60px;

    h2 {
      margin-top: 23px;
    }
  }

  #dashboard_content {
    #top_content {
      .full-space {
        width: 100%;
        padding: 0 10px;
  
        // &:first-child {
        //   padding-left: 0
        // }
  
        // &:last-child {
        //   padding-right: 0;
        // }
      }
    }
  }
}