/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

* {
  margin: 0 0;
  padding: 0 0;
}

h1,
h2,
h3,
p,
ul li,
a,
span {
  font-family: 'Raleway'
}

h1 {
  font-size: 2.7em;
  margin: 40px 0 25px 0;
  font-weight: 700;
}

h2 {
  font-size: 2.4em;
  margin: 40px 0 25px 0;
}

h5 {
  font-size: 1.2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e8e8e8}
